<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>@ViewBag.Title</title>

    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/pickmeup.min.css")
    @Styles.Render("~/Content/bootstrap.min.css")

    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
	@Scripts.Render("~/Scripts/jquery.pickmeup.js")
	@Scripts.Render("~/Scripts/jquery.pickmeup.twitter-bootstrap.min.js")
	@Scripts.Render("~/Scripts/Common.js")

	<script type="text/javascript">
		(function () {
			document.addEventListener("DOMContentLoaded", function () {
				initDatePicker();
			});
		})();
	</script>

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
            instrumentationKey:"31a0bb75-6b61-4103-b865-9f892fedc2ca"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>

@* ReSharper disable UnusedParameter *@
@* ReSharper disable StatementIsNotTerminated *@
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-59184456-1', 'auto');
		ga('send', 'pageview');
	</script>
@* ReSharper restore StatementIsNotTerminated *@
@* ReSharper restore UnusedParameter *@
</head>
<body>
	<div class="page">
		<div id="header">
			<div id="title">
				<div class="logo">
					@using SocialApps.Controllers;
				</div>
			</div>

			<div id="logindisplay">
				@Html.ActionLink("Add", "SelectCategory", "Mobile")
				@Html.ActionLink("Day", "DayExpenseTotals", "Mobile")
				@Html.ActionLink("Top 10", "Top10", "Mobile")
				@Html.ActionLink("Trend", "Trend", "Mobile", new {lastMonthNumber = 12}, null)
				@Html.ActionLink("Trend By Category", "TrendByCategory", "Mobile", new {lastMonthNumber = 12}, null)
				@Html.ActionLink("Home", "Index", "Mobile")
				@Html.ActionLink("About", "About", "Mobile")
				@Html.Partial("_LogOnPartial")
			</div>
		</div>
		<div id="main">
			@RenderBody()
		</div>
		<div id="footer">
		</div>
	</div>
    @RenderSection("scripts", false)
</body>
</html>
